.item-list {
  max-height: 90vh;
  overflow: auto;
}

.btn {
  margin: 5px;
}

.app-container {
  margin: 1em;
}

.btn.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn.btn-circle i {
  position: relative;
  top: -1px;
}

.btn.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}